@tailwind base;
@tailwind components;
@tailwind utilities;

#first {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  width: 50%
}

button {
  padding: 15px;
  width: 50%;
  margin: 5px 0 5px 0;
}

input {
  width: 50%;
  margin: 10px 0 10px 0;
  padding: 10px;
}